<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" name="account" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="login">登 录</button>
            <a th:href="@{/register}">注册</a>
        </div>
    </div>
</form>


<script src="/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
    //Demo
    layui.use(['form','jquery'], function(){
        var form = layui.form;
        var $=layui.jquery;

        //监听提交
        form.on('submit(login)', function(data){
            // layer.msg(JSON.stringify(data.field));
            console.log(data.field)
            $.ajax({
                type: 'get',
                url: '/loginAuthen',
                dataType: 'json',
                data: data.field,//往后台发送的是data.field，即一个{name：value}的数据结构
                async: true,
                success: function (result) {
                    if (result.code == 0) {
                        console.log("success")
                        layer.msg('保存成功', {icon: 1, time: 1000});
                        window.location.href='http://localhost:8080/hello/example';
                        // self.location.href="/register.html"
                        //
                        // setTimeout(function () {
                        //     self.location.assign = '/register';
                        // }, 800);
                    } else {
                        layer.msg('保存失败！' + result.msg, {icon: 2, time: 1000});
                    }
                },
                error: function (result, type) {
                    layer.msg('保存失败！', {icon: 2, time: 1000});
                }
            });

            return false;
        });
    });
</script>
</body>



</html>
